.courses {
  padding: 75px 0 81px 0;

  &__card {
    background-color: #EDF0F9;
    border-radius: 20px;
  }

  &__title {
    margin-bottom: 23px;
    color: $dark;
    font-size: 40px;
    line-height: 40px;
  }
}

.course {
  &__time {
    top: 11px;
    right: 5px;
    line-height: 19px;
    color: white;
  }

  &__preview {
    margin-bottom: 31px;
  }

  &__content {
    padding: 0 30px 30px 30px;
  }

  &__info {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 27px;
    color: $dark;
  }

  &__desc {
    color: $secondary;
  }

  &__btn {
    padding: 20px 59px;
    line-height: 18.75px;
    border-radius: 20px;
  }

  &__svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}
