.footer {
  &__socials {
    margin: 0;
    margin-bottom: 4px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2E2B44;
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__icon {
    display: flex;
  }

  &__link {
    color: #3F2AFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
  }
}

.reg {
  font-size: 100%;
  bottom: 0;
  top: 0;
}
