.instructors {
  padding: 75px 0;
  background-color: $dark;

  &__title {
    margin-bottom: 23px;
    color: white;
    font-size: 40px;
    line-height: 40px;
  }

  &__img {
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
  }

  &__preview {
    margin-bottom: 23px;
  }

  &__name {
    margin-bottom: 7px;
    color: white;
    font-size: 18px;
    line-height: 27px;
  }

  &__desc {
    color: #85859B;
  }
}
