section.hero
  .container
    .row.hero__row
      .col-xl-5.col-md-6.col-sm-8.col-xs-12
        .hero__content
          h1.font-weight-bold.hero__title Курсы&nbsp;3D моделирования
          p.hero__desc Следует отметить, что существующая теория способствует повышению качества благоприятных перспектив. Не&nbsp;следует, однако, забывать.
          button.font-weight-bold.hero__btn.btn Выбрать курс
      .d-flex.justify-content-center.col-xl-7.col-md-6.hero__col
        picture.d-block.align-self-center.hero__preview
          source(srcset='img/hero-768.png', media='(max-width: 991.98px)')
          img.hero__img(src='img/hero.png', alt='Моделированный объект')
