link(rel='preload', href='fonts/roboto-v30-latin_cyrillic-regular.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/roboto-v30-latin_cyrillic-regular.woff', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/roboto-v30-latin_cyrillic-700.woff2', as='font', crossorigin='anonymous')
link(rel='preload', href='fonts/roboto-v30-latin_cyrillic-700.woff', as='font', crossorigin='anonymous')
link(rel='stylesheet', href='libs/bootstrap.min.css', as='font', crossorigin='anonymous')
link(rel='stylesheet', href='style.css', as='font', crossorigin='anonymous')
